# Bật công cụ Rewrite
RewriteEngine On

# Base path - uncomment nếu cần
# RewriteBase /backend/

# Pass Authorization header cho FastCGI/PHP
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Bỏ qua các file hoặc thư mục đã tồn tại
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng tất cả các request khác đến index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]