@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));


.menu-open .menu-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-open .menu-line:nth-child(2) {
    opacity: 0;
}

.menu-open .menu-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
